.hamburger-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    visibility: hidden;
    border: none;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    padding: 0;
}

.hamburger-modal_opened {
    visibility: visible;
}

.hamburger-modal__container {
    position: absolute;
    top: 56px;
    width: 320px;
    height: 182px;
    background-color: #1A1B22;
    box-sizing: border-box;
    padding: 16px 16px 24px;
}

.hamburger-modal__close-button {
    background-image: url('/src/assets/white-close.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    border: none;
    width: 24px;
    height: 24px;
    position: absolute;
    top: -40px;
    right: 16px;
    cursor: pointer;
    padding: 0;
}

.hamburger-modal__title {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 56px;
    color: #fff;
    margin: 0;
}

.hamburger-modal__sign-in-button {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    width: 288px;
    height: 56px;
    margin: 22px 0 0;
    border: 1px;
    border-radius: 100px;
    border-style: solid;
    cursor: pointer;
    background-color: transparent;
    ;
}