.main {
    width: 1440px;
}

@media screen and (max-width: 769px) {
    .main {
        max-width: 769px;
    }
}

@media screen and (max-width: 321px) {
    .main {
        max-width: 321px;
    }
}