.main {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

@media screen and (max-width: 769px) {
    .main {
        max-width: 769px;
    }
}

@media screen and (max-width: 481px) {
    .main {
        max-width: 481px;
    }
}