.about {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 624px;
    width: 100%;
    max-width: 1440px;
    box-sizing: border-box;
    padding: 0 clamp(16px, 10vw, 104px);
    column-gap: 56px;
    margin: 0 auto;
}

.about__portrait {
    box-sizing: border-box;
    width: clamp(200px, 42vw, 464px);
    height: clamp(200px, 42vw, 464px);
    max-width: 464px;
    max-height: 464px;
    border-radius: 1000px;
    object-fit: cover;
}

.about__description {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    max-width: 600px;
}

.about__title {
    font-family: 'RobotoSlab', Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    line-height: 40px;
    font-weight: 400;
    color: #1A1B22;
    margin: 0;
}

.about__text {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #1A1B22;
    margin: 24px 0 0;
    width: 100%;
    max-width: 600px;
}

@media screen and (max-width: 769px) {
    .about {
        min-height: 354px;
        height: auto;
        max-width: 768px;
        column-gap: 32px;
        margin: 0 0 20px;
    }

    .about__description {
        max-width: 424px;
    }

    .about__title {
        font-size: 30px;
        margin: 40px 0 0;
    }

    .about__text {
        margin: 16px 0 0;
    }

    .about__portrait {
    width: clamp(175px, 30vw, 232px);
    height: clamp(175px, 30vw, 232px);
    }
}

@media screen and (max-width: 481px) {
    .about {
        max-width: 480px;
        height: auto;
        flex-direction: column;
        margin: 32px 0 0;
        padding: 0 24px;
    }

    .about__title {
        max-width: 481px;
    }

    .about__text {
        margin: 16px 0 80px;
        max-width: 480px;
    }

    .about__portrait {
        width: clamp(272px, 90vw, 400px);
        height: clamp(272px, 90vw, 400px);
    }
}