.navigation {
    /* width: 1440px; */
    /* begin edit */
    min-width: 100%;
    /* end edit */
    height: 80px;
}

.navigation__link-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    height: 80px;
    border-bottom: 1px solid #D1D2D6;
    padding: 0 104px 0;
}

.navigation__link-container__saved-news {
    border-bottom: 1px solid #D1D2D6;
}

.navigation__link {
    text-decoration: none;
}

.navigation__logo {
    margin: 0;
    font-family: 'RobotoSlab', Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color: #FFF;
}

.navigation__logo__saved-news {
    color: #1A1B22;
}

.navigation__links {
    display: flex;
}

.navigation__links__home {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #FFF;
    background: none;
    border: none;
    padding: 0;
    width: 68px;
    height: 80px;
    cursor: pointer;
    box-sizing: border-box;
}

.navigation__links__sign-in {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #FFF;
    background: none;
    border: 1px;
    border-style: solid;
    border-color: #FFF;
    border-radius: 100px;
    padding: 12px;
    border: 1px;
    border-style: solid;
    border-color: #FFF;
    border-radius: 100px;
    width: 176px;
    height: 48px;
    box-sizing: border-box;
    align-self: center;
    visibility: visible;
    cursor: pointer;
    margin-left: 42px;
}

.navigation__links__saved-articles {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #FFF;
    background: none;
    border: none;
    padding: 0;
    height: 80px;
    text-align: center;
    cursor: pointer;
    margin: 0 34px;
}

.navigation__links__profile {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #FFF;
    background: none;
    padding: 12px 19px;
    border: 1px;
    border-style: solid;
    border-color: #FFF;
    border-radius: 100px;
    width: auto;
    height: 48px;
    box-sizing: border-box;
    display: flex;
    column-gap: 15px;
    align-items: center;
    align-self: center;
}

.navigation__links__hidden {
    visibility: hidden;
}

.navigation__links__active {
    border-bottom: solid 3px #FFF;
    padding: 3px 0 0;
}

.navigation__links__dark {
    color: #1A1B22;
}

.navigation__links__home-dark {
    padding-right: 2px;
}

.navigation__links__active-dark {
    border-bottom: solid 3px #1A1B22;
    padding: 3px 0 0;
    width: 178px;
}

.navigation__links__profile-dark {
    border-color: #1A1B22;
}

.navigation__links__signout {
    cursor: pointer;
}

.navigation__links__profile-signout {
    cursor: pointer;
}

.navigation__hamburger-menu {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    justify-content: center;
}

.navigation__hamburger-menu__line {
    width: 16px;
    height: 2px;
    background-color: #fff;
    border: none;
    margin: 0;
    display: none;
}

.navigation__hamburger-menu__line-dark  {
    background-color: #1A1B22;
}

@media screen and (max-width: 769px) {
    .navigation {
        max-width: 768px;
    }

    .navigation__link-container {
        padding: 0 40px 0;
        height: 66px;
    }

    .navigation__links {
        height: 66px;
    }

    .navigation__links__home {
        font-size: 16px;
        height: 66px;
    }

    .navigation__links__sign-in {
        width: 152px;
        font-size: 16px;
        height: 40px;
        padding: 0;
        margin: 0 0 0 16px;
    }

    .navigation__links__saved-articles {
        font-size: 16px;
        height: 66px;
        margin: 0 0 0 19px;
    }

    .navigation__links__profile {
        font-size: 16px;
        margin: 0 0 0 19px;
    }
}

@media screen and (max-width: 576px) {
    .navigation {
        width: 320px;
        height: 56px;
    }

    .navigation__logo {
        font-size: 16px;
    }

    .navigation__link-container {
        padding: 16px;
        height: 56px;
    }

    .navigation__link-container__hamburger {
        background-color: #1A1B22;
        box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2); 
    }

    .navigation__links__home {
        display: none;
    }

    .navigation__links__sign-in {
        display: none;
    }

    .navigation__links__saved-articles {
        display: none;
    }

    .navigation__links__profile {
        display: none;
    }

    .navigation__hamburger-menu__hidden {
        display: none;
    }

    .navigation__hamburger-menu__line {
        display: block;
    }

    .navigation__hamburger-menu__line-hidden {
        display: none;
    }

}