.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 1440px; */
    /* begin edit */
    min-width: 100%;
    /* end edit */
    box-sizing: border-box;
    height: 80px;
    padding: 0 104px;
}

.footer__copyright {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #B6BCBF;
    width: 288px;
}

.footer__navigation {
    display: flex;
    align-items: center;
    column-gap: 26px;
    padding: 0 2px 0 0;
}

.footer__link-container {
    display: flex;
    column-gap: 26px;
}

.footer__link {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #1A1B22;
    padding: 0 14px 0 0;
    text-decoration: none;
}

.footer__github {
    height: 20px;
    width: 20px;
    cursor: pointer;
    background-image: url("../../assets/github-logo.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.footer__facebook {
    height: 20px;
    width: 20px;
    cursor: pointer;
    background-image: url("../../assets/facebook-logo.svg");
    background-repeat: no-repeat;
    background-position: center;
}

@media screen and (max-width: 769px) {
    .footer {
        height: 64px;
        max-width: 768px;
        padding: 0 40px;
    }

    .footer__copyright {
        width: auto;
        padding: 0 20px 0 0;
    }

    .footer__facebook {
        height: 20px;
        width: 20px;
        background-size: cover;
        background-image: url("../../assets/facebook-round.svg");
    }
}

@media screen and (max-width: 481px) {
    .footer {
        flex-direction: column-reverse;
        height: 176px;
        max-width: 480px;
        padding: 20px 16px 0;
    }

    .footer__copyright {
        width: 288px;
        margin: 0;
        padding: 0 0 16px;
    }

    .footer__navigation {
        align-items: flex-start;
        column-gap: 16px;
    }

    .footer__link-container {
        flex-direction: column;
        row-gap: 30px ;    
        width: 200px;
    }

    .footer__link {
        margin: 0;
        padding: 0;
    }

    .footer__link-text {
        margin: 0;
    }

    .footer__facebook {
        height: 20px;
        width: 20px;
        background-size: cover;
        background-image: url("../../assets/facebook-logo.svg");
        margin-left: 10px;
    }
}